* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 1000px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 4;
}

header.sticky {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.9;
}

header.sticky .banner 
{
    opacity: 0.5; 
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vw;
    color:#fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}
nav 
{
    position: relative;
    display: flex;
    z-index: 1; 
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav ul {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none; 
}

nav ul li a:hover
{
    color: #ff275f;
}

.intro_bg {
    background-color: #e2e5de;
}

section {
    padding: 100px;
}

section h2 {
    margin-top: 8vh;
    font-size: 3em;
}

section p {
    font-size: 1.2em;
}

#three_bar {
    opacity: 0;
}


#intro {
    background: -webkit-linear-gradient(-70deg, #F67280 0%, #C06C84 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

#footer_copyright {
    margin-left: 95px;
}

.pop {
    font-weight: bold;
}

#spacer-5 {
    min-height: 5em;
}

#spacer-40 {
    min-height: 40em;
}
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
.word {
    position: absolute;
    width: 800px;
    opacity: 0;
  }
  
.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
.letter.behind {
    transform: rotateX(-90deg);
  }
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
.wisteria {
    color: #8e44ad;
  }
  
.belize {
    color: #2980b9;
  }
  
.pomegranate {
    color: #c0392b;
  }
  
.green {
    color: #16a085;
  }
  
.midnight {
    color: #2c3e50;
  }

.goaway {
    opacity: 0;
}

#topic1 {
    margin-right: 20px;
}

#topics {
  margin-right: 400px;
}

#topic2 {
    z-index: 1;
}
#img1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img2 {
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
}

/*
For Infographic 1 
*/

#infographic_1 {
    position: relative;
    text-align: center;
    color: white;
}

#top_left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/*
LINK TREE CSS
*/

#linktree_body {
    background-color: #1d1d1d;
  border: none;
  color: #444;
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  margin-top: -47px;
  margin-bottom: -23px;
    padding: 0px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: none;
  }
  
  .btn {
    background: #333;
  }
  
  .btn:hover {
    background-color: #13c4a5;
  }
    
  .header-inner {
    position: relative;
    text-align: center;
  }
  
  .site-title {
    font-size: 2.25em;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  }
  
  .site-title a {
    color: #fff;
  }
  
  .site-title a:hover {
    color: #13c4a5;
  }
  
  .site-description {
    color: #C06C84;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 110%;
    margin: 20px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  }

#invisible_block_1 {
    visibility: hidden;
}

#platform_1:hover {
    color: #ff275f;
}

#platform_2:hover {
    color: #ff275f;
}

#platform_3:hover {
    color: #ff275f;
}

#platform_4:hover {
    color: #ff275f;
}

#platform_5:hover {
    color: #ff275f;
}

/* Making it reponsive */
@media (max-width: 1024px){
    #we_cover {
        margin-left: 5.1em;
    }
    #cover {
        margin-left: 5em;
    }
    #topic2 {
        margin-left: 1em;
    }
    #spacer-40 {
        min-height: 40em;
        margin-bottom: -7.6em;
    }
}


@media (max-width: 991px)
{
    html {
        width: 100%;
    }
    .display-2 {
        width: 100%;
    }
    .word {
        width: 260px;
    }
    #spacer-40 {
        min-height: 40em;
        margin-bottom: -7.6em;
    }
    #we_cover {
        font-size: 1em;
        margin-left: 3em;
    }
    #cover {
        margin-left: 2.8em;
    }
    #intro {
        font-size: 1.9em;
    }
    #topic2 {
        font-size: 2em;
        margin-left: 3em;
    }
    .wisteria {
        margin-left: .1em;
        width: 200px;
    }
    .belize {
        margin-left: -.55em;
    }
    .green {
        margin-left: -0.4em;
        width: 200px;
    }
    .midnight {
        margin-left: -1.5em;
    }
    .pomegranate {
        margin-left: -.15em;
        width: 200px;
    }
    #three_bar {
        opacity: 1;
    }
    section {
        margin-top: 8vh;
        padding: 40px;
    }
    header {
        top: 0;
        padding: 40px;
    }
    section h2 {
        margin-top: 20vh;
        font-size: 2em;
    }
    header.sticky .logo {
        font-size: 1.5em;
        left: 40px;
    }
    header.sticky .banner {
        opacity: 0;
    }
    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url();
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle.active {
        background: #fff url();
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center; 
    }
}

@media (max-width: 400px)
{
    header.sticky .logo {
        font-size: 1em;
        left: 40px;
    }
}

@media (max-width: 300px)
{
    header.sticky .logo {
        opacity: 0; 
    }
}

/* For Popup */ 

  /* POP-UP
  ========================================== */
  .pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -moz-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    -o-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.6s;
    z-index: 10;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 768px) {
    .pop-up {
      width: calc(100% - 40px);
      height: auto;
      max-width: 900px;
    }
  }
  .pop-up .content {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
  }
  @media (min-width: 768px) {
    .pop-up .content {
      min-height: inherit;
    }
  }
  .pop-up .content .container {
    padding: 100px 20px 140px;
  }
  @media (min-width: 568px) {
    .pop-up .content .container {
      padding: 50px 20px 80px;
    }
  }
  @media (min-width: 768px) {
    .pop-up .content .container {
      padding: 70px 0px 90px;
      max-width: 520px;
      margin: 0 auto;
    }
  }
  .pop-up .content .close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .pop-up .content .close:hover {
    cursor: pointer;
    color: #f66867;
  }
  .pop-up .content .dots .dot {
    position: absolute;
    border-radius: 100%;
    z-index: 11;
  }
  .pop-up .content .dots .dot:nth-of-type(1) {
    top: -80px;
    right: -80px;
    width: 160px;
    height: 160px;
    background-color: #689bf6;
    -webkit-animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
  @media (min-width: 768px) {
    .pop-up .content .dots .dot:nth-of-type(1) {
      top: -190px;
      right: -190px;
      width: 380px;
      height: 380px;
    }
  }
  .pop-up .content .dots .dot:nth-of-type(2) {
    bottom: -120px;
    left: -120px;
    width: 240px;
    height: 240px;
    background-color: #f66867;
    -webkit-animation: float 8s ease-in-out infinite;
    -moz-animation: float 8s ease-in-out infinite;
    -o-animation: float 8s ease-in-out infinite;
    animation: float 8s ease-in-out infinite;
  }
  .pop-up .content .dots .dot:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    background-color: #ffd84c;
    -webkit-animation: float 4s ease-in-out infinite;
    -moz-animation: float 4s ease-in-out infinite;
    -o-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
  }
  .pop-up .content .title h1 {
    text-align: center;
    color: #f66867;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
  }
  .pop-up .content img {
    width: 100%;
    max-width: 220px;
    display: inline-block;
    margin: 30px 0 40px 0;
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-backface-visibility: hidden;
  }
  @media (min-width: 768px) {
    .pop-up .content img {
      max-width: 300px;
    }
  }
  .pop-up .content .subscribe h1 {
    font-size: 1.5rem;
    color: #3e4146;
    line-height: 130%;
    letter-spacing: 0.07rem;
    margin-bottom: 30px;
  }
  .pop-up .content .subscribe h1 span {
    color: #f66867;
  }
  .pop-up .content .subscribe form {
    overflow: hidden;
  }


  .pop-up.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  .pop-up.open img {
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  
  @media (max-width: 1024px){
    .pop-up {
        width: 75%;
    }
}
@media (max-width: 500px)
{
    .pop-up {
        width: 350px;
        height: 650px;
        overflow-y: hidden;
        margin-right: 100px;
    }
    #dot1 {
        margin-top: -30%;
        display: none;
    }
    #dot2 {
        margin-top: -30%;
        display: none;
    }
}