#footer_copyright {
    margin-left: 95px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#three_bar {
    opacity: 0;
}


body{
    min-height: 1000px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 2;
}

header.sticky {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.9;
}

header.sticky .banner 
{
    opacity: 0.5; 
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vw;
    color:#fff;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}
nav 
{
    position: relative;
    display: flex;
    z-index: 4; 
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav ul {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none; 
}

nav ul li a:hover
{
    color: #ff275f;
}

#spacer-56 {
    min-height: 56em;
}

.spacer-10 {
    min-height: 10em;
    background-color: #e2e5de;
}


/* Making it reponsive */
@media (max-width: 991px)
{
    #three_bar {
        opacity: 1;
    }
    section {
        margin-top: 8vh;
        padding: 100px;
    }
    header {
        top: 0;
        padding: 40px;
    }
    section h2 {
        margin-top: 20vh;
        font-size: 2em;
    }
    header.sticky .logo {
        font-size: 1.5em;
        left: 40px;
    }
    header.sticky .banner {
        opacity: 0;
    }
    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav ul li a {
        font-size: 1.5em;
        padding: 5px 15px;
    }
    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url();
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle.active {
        background: #fff url();
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center; 
    }
}

@media (max-width: 400px)
{
    header.sticky .logo {
        font-size: 1em;
        left: 40px;
    }
}

@media (max-width: 300px)
{
    header.sticky .logo {
        opacity: 0; 
    }
}

/* 
CSS For Meet the Team
*/
.team-section{
    background-color: #e2e5de;
    text-align: center;
  }
  .inner-width{
    max-width: 1500px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
  }
  .team-section h1{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
  }
  .pe{
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
    padding-left: 40px;
    padding-right: 40px;
  }
  .pe:hover{
    background: #ddd;
  }
  .pe img{
    width: 120px;
    height: 120px;
  }
  .p-name{
    margin: 16px 0;
    text-transform: uppercase;
  }
  .p-des{
    font-style: italic;
    color: #3498db;
    margin-top: -8px;
  }
  .p-sm{
    margin-top: 12px;
  }
  .p-sm a{
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
  }
  .p-sm a:hover{
    transform: scale(1.3);
  }
  .p-sm a i{
    color: #333;
    line-height: 30px;
  }

  .description {
      margin-top: 4px;
  }
  @media screen and (max-width:600px) {
    .pe{
      width: 100%;
      border: solid;
      margin-bottom: 10px;
    }
    #section_2{
        margin-top: -80px;
    }
  }
